$color-button-text: #fff;
$color-menu-selected-text: #fff;
$color-menu-selected-bg: #13171D;
$color-primary-100: #D3E5F6;
$color-primary-200: #C8DDF1;
$color-primary-300: #B6C4D0;
$color-primary-400: #A4BACF;
$color-primary-500: #71808E;
$color-primary-600: #435164;
$color-primary-700: #151E29;
$color-primary-800: #13171D;
$color-primary-900: #0D1014;
$color-secondary: #516684;
$color-accent: #FF3F3F;
$color-accent-hover: #ff7575;
$color-accent-disabled: #eab0b0;
